body {
  height: 100vh;
  background: linear-gradient(to top left, #22b604, #286e18);
}

h1 {
  font-family: sans-serif;
  text-align: center;
  text-shadow: #286e18;
  padding: 20px;
  color: lightcyan;
}
p {
  color: azure;
}
